# ignore test file
test.py

# ignore making plots file
making_plots.py

# ignore red_state_VPP_formation.py file
red_state_VPP_formation.py

config.ini
consumption_and_flexibility_examples/
flex_data/